.container-main{
    display:flex;
    justify-content: start;
    flex-direction: column;
    align-items: first baseline;
    width: 100%;
    height: 100vh;
    padding: 10px;
}
.menu{
    display: flex; 
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
 }
.menu button,.btn-hj{
    width: 100%;
    height: 30px;
    cursor: pointer;
    background-color: var(--second-color);
    border: none;
    border-radius: 5px;
    color: var(--bkg-color);
    text-decoration: none;
    text-align: center;
}
.menu>form{
    width: 100%;
    margin-top: 10px;
}
.menu>form>div{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}
.menu>form input{
    width: 100%;
    background-color: var(--bkg-color);
    border: none;
    border-radius: 5px;
}

.btn-cadastro{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--bkg-color);
    font-weight: bolder;
    font-size: 20px;
    position: fixed;
    right: 5%;
    bottom: 5%;
}
table{
    width: 100%;
    height: 100%;
}
.cabecalho th{
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--bkg-color);
    text-align: center;
}

.cabecalho :nth-child(1){
    border-radius: 10px 0 0 0;
}
.cabecalho :last-child{
    border-radius: 0 10px 0 0;
}
.linhaCorpo{
    padding: 10px;
    border-bottom: 1px solid  #ffdfec41;
}

.linhaCorpo td{
    padding: 10px;
    border-left: var(--third-color) 1px solid;
    text-align: center;
    font-size: 16px;

}
.linhaCorpo :first-child{
    border: none;
}
.linhaCorpo :last-child{
    border-bottom: none;
}
.linhaCorpo a{
    color: var(--font-color);
    transition: .2s;
    padding: 10px;
    font-size: 20px;
}
.linhaCorpo .ferramentas .trash:hover{
    color: red;

}
.linhaCorpo .ferramentas .contact:hover{
    color: #25d366;
}
footer{
    margin-top: 10px;
    width: 100%;
    color: #8b8b8b;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lineHorario{
    background-color: var(--second-color);
    color: var(--bkg-color);
    font-size: 23px;
    font-weight: 900;
    font-style: italic;
   
}
.vago{
    background-color: #ffdfec41;
    text-align: start;
    text-transform: uppercase;
    font-style: italic;
    
}
h5{
    text-align: center;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--second-color);
}