.btns{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0 50px;
}

.btns button{
    width: 30%;
    height: 50px;
    cursor: pointer;
    border: none;
    background-color: var(--primary-color);
    border-radius: 10px;
    font-weight: 600;
    color: #fff;
    transition: .5s;
    font-size: 15px;
}
button:hover{
    filter: brightness(.9);
}
.container-etapas{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: start;
    height: 60vh;
    padding-top: 50px;
    margin: 50px auto;
}

.etapa{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
}
.etapa label{
    margin: 10px 0;
    width: 80%;
    font-weight: 600;
    color: #494949;
}
.etapa input{
    width: 90%;
    border: none;
    background-color: #dfdfdf;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    margin: 20px 0;
    padding: 0 15px;
}
.etapa h1{
    color: var(--second-color);
    text-align: start;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
h2{
    color: var(--second-color);
}
.etapa p{
    width: 80%;
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
    color: #494949;
}
.tel{

    display: flex;
    width: 90%;
    gap: 10px;
}

.tel .ddd{
    width: 10%;
    min-width: 70px;
    text-align: center;

}
#process{
    font-size: 14px;
    width: 90%;
    text-align: justify;
    color: var(--primary-color);
}
.back{
    position: fixed;
    top: 20px;
    left: 20px;
    border: 2px solid var(--primary-color);
    font-size: 30px;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: var(--bkg-color);
    background-color: var(--primary-color);
    transition: .5s;
}
.back:hover{
    filter: brightness(.8);
}
.end{
    flex-direction: column;
    width: 100%;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
}
.end button{
    width: 80%;
}
#descP2,#descP3{
    width: 100%;
    text-align: start;
    padding: 10px 45px;
}
#dataCadastro{
    width: 50vw;

}

.containerSelect{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px 0;
    padding: 0 45px;
}
.containerSelect select{
    width: 90%;
    border: none;
    background-color: #dfdfdf;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    margin: 20px 0;
    padding: 0 15px;
}

#reset{
    background-color: var(--second-color);
}

#info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.telefone{
    display: flex;
    align-items: start;
}

#info span{
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
    display: flex;
    min-width: 240px;

    justify-content: start;

}

#info>div{
    display: flex;
    justify-content: start;
    gap: 5px;
    width: 400px;
    align-items: center;
    padding: 5px;
    border-top:1px solid var(--third-color)
}
#info>div:first-child{
    border: none;
}
#info div > p{
    display: flex;
    justify-content: start;
    margin: 0;
}
.telefone p{
    padding: 0;
    width: max-content;
}