.btns{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0 50px;
}

.btns button{
    width: 30%;
    height: 50px;
    cursor: pointer;
    border: none;
    background-color: var(--primary-color);
    border-radius: 10px;
    font-weight: 600;
    color: #fff;
    transition: .5s;
    font-size: 15px;
}
button:hover{
    filter: brightness(.9);
}
.container-etapas{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: start;
    height: 60vh;
    padding-top: 50px;
    margin: 50px auto;
}

.etapa{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
}
.etapa label{
    margin: 10px 0;
    width: 80%;
    font-weight: 600;
    color: #494949;
}
.etapa input{
    width: 90%;
    border: none;
    background-color: #dfdfdf;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    margin: 20px 0;
    padding: 0 15px;
}
.etapa h1{
    color: var(--primary-color);
    text-align: start;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.etapa p{
    width: 80%;
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
    color: #494949;
}
.tel{

    display: flex;
    width: 90%;
    gap: 10px;
}

.tel .ddd{
    width: 10%;
    min-width: 70px;
    text-align: center;

}
#process{
    font-size: 14px;
    width: 90%;
    text-align: justify;
    color: var(--primary-color);
}