*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-main{
    width: 50%;
    height: 150px;
    margin: 0 auto;
    position: relative;
}

.dots{
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: 30%;
}
.dot{
    width: 50px;
    height: 50px;
    background-color: var(--third-color);
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-weight: 800;
    font-size: 25px;
    transition: .5s;
}
.container-line{
    width: 100%;
    position: absolute;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.line{
    width: 73%;
    height: 5px;
    background-color: aliceblue;
    
}
.progress{
    background-color: red;
    height: 100%;
    width: 0%;
    transition: .5s;
}
